<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust - Fill the <form action=""></form>
    </title>
</head>

<body>
    <h3>Fill the form</h3>
    <form method="post" action="/listings">
        <input type="text" name="listing[title]" placeholder="Enter Title">
        <br><br>
        <textarea name="listing[description]" placeholder="Enter Description"></textarea>
        <br><br>
        <input type="text" name="listing[image]" placeholder="Enter Link/Url">
        <br><br>
        <input name="listing[price]" placeholder="Enter Price" type="number">
        <br><br>
        <input type="text" name="listing[location]" placeholder="Enter Location">
        <br><br>
        <input type="text" name="listing[country]" placeholder="Enter Country">
        <br><br>
        <button>Add Now</button>
    </form>
</body>

</html>